/***********************************************************************************************************************
  FORMULAIRES
***********************************************************************************************************************/

form {
  background-color: #D6CFCB;
  padding: 5%;
}

input {
  border: none;
  border-radius: 4px;
  line-height: 2em;
  padding: 1% 0 1% 0;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}
input.w50 {
  width: 49%;
}

/***********************************************************************************************************************
  BOUTONS
***********************************************************************************************************************/

.btn{
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  padding: 1%;
}
.btn:hover {
  background-color: #A6808C;
  color: white;
}
.btn:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/***********************************************************************************************************************
  LIENS
***********************************************************************************************************************/

a {
  color: #706677;
  text-decoration: none;
}

a:visited,
a:hover {
  color: #A6808C;
  text-decoration: underline;
}

/***********************************************************************************************************************
  TABLEAUX
***********************************************************************************************************************/

table {
  width: 100%;
}

/***********************************************************************************************************************
  COLONNES
***********************************************************************************************************************/

.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w50 {
  width: 50%;
}

/***********************************************************************************************************************
  ALIGNEMENT
***********************************************************************************************************************/

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/***********************************************************************************************************************
  COLORS
***********************************************************************************************************************/
/* https://coolors.co/palette/565264-706677-a6808c-ccb7ae-d6cfcb */
.bg-col0 {
  background-color: #D6CFCB;
}
.fg-col0 {
  color: #D6CFCB;
}

.bg-col1 {
  background-color: #CCB7AE;
}
.fg-col1 {
  color: #CCB7AE;
}

.bg-col2 {
  background-color: #A6808C;
}
.fg-col2 {
  color: #A6808C;
}

.bg-col3 {
  background-color: #706677;
  color: white;
}
.fg-col3 {
  color: #706677;
}

.bg-col4 {
  background-color: #565264;
  color: white;
}
.fg-col4 {
  color: #565264;
}
